body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #5d5c61;
}

.course-buttons, .topics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.course-btn, .topic-btn {
    background-color: #6a5acd;
    color: #fff;
    padding: 15px 25px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.course-btn:hover, .topic-btn:hover {
    background-color: #483d8b;
}

button {
    background-color: #6a5acd;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #483d8b;
}

textarea {
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
