<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ course_name }} Topics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='topic.css') }}">
</head>
<body>
    <div class="container">
        <h1>{{ course_name }} Topics</h1>
        <div class="topics">
            {% for topic in topics %}
            <a href="{{ url_for('theory', course_name=course_name, topic=topic) }}">
                <button class="topic-btn">{{ topic }}</button>
            </a>
            {% endfor %}
        </div>
        <div class="back-button">
            <a href="{{ url_for('index') }}">
                <button class="back-btn">Go back to Dashboard</button>
            </a>
        </div>
    </div>
</body>
</html>
